img.img-category {
  max-height: 337px;
}

img.img-responsive {
  display: block;
  margin: 0 auto;
}

#mainImage {
  background: white;
}

@media (max-width: 767px) {
  #content .product .flip-container img.img-responsive {
    min-width: 0;
  }
}

#basket input.form-control.order-number {
  width: 60px !important;
}

#basket img {
  width: inherit !important;
  max-width: 50px;
  max-height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.products .product img {
  max-height: 285px;
}
